:root {
    --main-color: rgb(31, 25, 25);
    --secondary-color: rgb(66, 2, 2);
    --terciary-color: rgb(167, 1, 78);
    --highlight-color: rgb(223, 136, 101);
    --stronger-highlight-color: rgb(226, 115, 101);
    --title-fonts: 'Oswald', sans-serif;
    --text-fonts: 'Fira Sans', sans-serif;
}

body {
    background-color: rgb(233, 215, 207);
    text-align: center;
}

h1 {
    color: var(--main-color);
    font-weight: 800;
    font-family: var(--title-fonts);
}

p, a, li {
    font-family: var(--text-fonts);
}

a {
    text-decoration: none;
}